<div class="form">
<%= form_with model: @product do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @product.errors[:name].any? %>
      <% @product.errors[:name].each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

  <div>
    <%= form.label :category %><br>
    <%= select_tag(:category, options_for_select(['Women Accessories','Electronics','Footwear','Electrical Appliances', 'School Supplies'],@product.category), {:class => 'dropdown'}) %>
    <% @product.errors[:category].any? %>
      <% @product.errors[:category].each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

  <div>
    <%= form.label :price %><br>
    <%= form.text_field :price %>
    <% @product.errors[:price].any? %>
      <% @product.errors[:price].each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>
  <div>
    <%= form.label :quantity %><br>
    <%= form.text_field :quantity %>
    <% @product.errors[:quantity].any? %>
      <% @product.errors[:quantity].each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>
  <div style="margin-top: 20px">
    <%= form.submit submit_text %>
  </div>
<% end %>
</div>