<div class="product">
    <div class="detail">Product Name: <span><%= product.name %></span></div>
    <div class="detail">Product Category: <span><%= product.category %></span></div>
    <div class="detail">Product Price: <span><%= product.price %></span></div>
    <div class="detail">Availability: <span><%= product.quantity %></span></div>
        <div class="detail">No. Of Likes: <span><%= @product.liked_users.count %></span></div>
</div>