<%= render "product_details", product: @product %>
<%= form_with url: "/products/#{@product.id}/buy", method: :put do |form| %>
    <div>
        <%= form.label :quantity %><br>
        <%= form.text_field :quantity %><br>
    </div>
    <%= form.submit "Buy" %>
<% end %>
<br>
<%= link_to "Go Back", "/products?type=buy" %>
