<% if user_signed_in? %>
<br><br>
    <div>Hello <%= current_user.name %>,</div>
    <div>Your Wallet: <%= @wallet.coins %></div>
    <%= link_to "Sell", "/products?type=sell" %>
    <%= link_to "Buy", "/products?type=buy"%>
    <%= button_to "Log out", destroy_user_session_path, method: :delete %>
<% else %>
<br><br><br>
    <%= link_to "login", new_user_session_path %>
<% end %>