<div class="wrapper">
<h3>Products List</h3>
<div class="list-wrapper">
<% @products.each do |product| %>
    <% if params[:type] == "buy" %>
        <div class="product">
            <div class="detail">Product Name: <span><%= product.name %></span></div>
            <div class="detail">Product Category: <span><%= product.category %></span></div>
            <%= link_to "View Product Details",  "/products/#{product.id}/buy" %>
        </div>
    <% elsif params[:type] == "sell" %>
        <a href='<%= "/products/#{product.id}/sell" %>'> <%= product.name %></a><br>
    <% end %>
<% end %>
<br>
<% if params[:type] == "sell" %>
<%= link_to "Sell New Product", "/products/new" %>
<br>
<% end %>
</div>