<div class="wrapper">
<h3>Products List</h3>
<div class="list-wrapper">
<% @products.each do |product| %>
    <% if params[:type] == "buy" %>
        <a href='<%= "/products/#{product.id}/buy" %>'> <%= product.name %></a><br>
    <% elsif params[:type] == "sell" %>
        <a href='<%= "/products/#{product.id}/sell" %>'> <%= product.name %></a><br>
    <% end %>
<% end %>
<br>
<% if params[:type] == "sell" %>
<%= link_to "Sell New Product", "/products/new" %>
<br>
<% end %>
</div>