<div class="wrapper">
<h3>Product Details</h3>
<%= render "product_details", product: @product, show_status: true %>
<div style="width: 340px; margin: 0 auto;">
    <% if @product.feedbacks.count != 0 %>
        <br><h4>Reviews</h4>
        <%= render @product.feedbacks %>
    <% end %>
    <% if @product.status %>
        <div style="width: 340px; margin: 0 auto;"><%= button_to "Delete", "/products/#{@product.id}", method: :delete, class: 'link' %></div>
    <% end %>
    <%= link_to "Edit", edit_product_path(@product), class: 'link' %><br>
    <%= link_to "Go Back", "/products/sell", class: 'link' %>
</div>
</div>
