<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
<%= stylesheet_link_tag 'application' %>
<%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" href="/">E-Commerce</a>
  <div id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= active_class("/products?type=buy") %>">
        <a class="nav-link" href="/products?type=buy">Buy</a>
      </li>
      <li class="nav-item <%= active_class("/products/new") %>">
        <a class="nav-link" href="/products/new">Sell</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/orders">Order History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products/sell">Sell History</a>
      </li>
      <div class="spacer" style="flex:1;"></div>
      <% if user_signed_in? %>
    <li class="nav-item <%= active_class(edit_user_registration_path) %>">
      <%= link_to "Hi, #{current_user.name}", edit_user_registration_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link a-button', style: 'background:none;border:none;' %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
    </li>
  <% end %>
    </ul>
  </div>
</nav>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    <%= yield %>
  </body>
</html>
